  {% load static %}{% load i18n %}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
  <meta name="mobile-web-app-capable" content="yes">
<link rel="icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicons/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'img/favicons/ms-icon-144x144.png' %}">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="https://hamouds.com">

  <!--Facebook Open Graph-->
  <meta property="og:url" content="https://hamouds.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Hamouds.com" />
  <meta property="og:site_name" content="Hamouds.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="" />
  <meta property="og:image" content="https://hamouds.com/assets/logo.png" />
  <meta property="og:image:secure_url" content="https://hamouds.com/assets/logo.png" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1339" />
  <meta property="og:image:height" content="943" />

  <!--Twitter card metadata-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hamouds" />
  <meta name="twitter:creator" content="@hamouds" />
  <meta name="twitter:title" content="Hamouds.com" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="https://hamouds.com/assets/logo.png">
  <meta name="author" content="www.roinsight.com">
  <meta name="generator" content="Angular 17, Django 5">
  <meta name="keywords" content="Electronics,  Gadgets,  Electrical appliances,  Top-rated electronics,  Smart home devices,  Tech gadgets,  Home appliances,  Quality electronics,  Innovative web solutions,  Cutting-edge technologies,  Digital reality,  Exclusive gadgets,  Fast shipping,  Secure payments,  Hassle-free returns,  Jordan,  Online shopping,  E-commerce">
  <meta name="description" content="Your Gateway to Innovative Web Solutions.  Transforming Ideas into Digital Reality with Cutting-Edge Technologies">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#3f4044">

  <!--Structured Data-->
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "WebApplication",
    "name": "hamouds",
    "description": "
    Electronics store Jordan, Exclusive gadgets, Electrical appliances, Best deals, Top-rated electronics, Fast shipping, Secure payments, Hassle-free returns, Smart home devices, Tech gadgets, Home appliances, Quality electronics
    ",
    "url": "https://hamouds.com",
    "image": "https://hamouds.com/assets/site-preview.png",
    "screenshot": "https://hamouds.com/assets/site-preview.png",
    "applicationCategory": "Ecommerce Website",
    "operatingSystem": "Android, Chrome OS, iOS, iPadOS, macOS, OS X, Linux, Windows",
    "author": {
        "@type": "Organization",
        "name": "ROInsight",
        "description": "",
        "url": "https://roinsight.com",
        "logo": "https://roinsight.com/assets/logo.png"
    }
    }
</script>

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet"> -->

  <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
  <!-- <script async src="https://js.stripe.com/v3/"></script> -->
  <!-- <script async src="https://js.stripe.com/v3/buy-button.js"></script> -->
  
